<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="ja">
    <link rel="stylesheet" href="/css/style.css"/>
    <meta charset="UTF-8" />
    <title>ユーザー登録</title>
</head>
<body>
<form th:action="@{/users/register}" method="post" th:object="${studentForm}">
    <table>
        <tr>
            <td>
                <span>ID:</span>
                <input name = "id" type="text" th:field="*{id}" th:errorclass="error-input"/>
                <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="error-message"></span>
            </td>
        </tr>
        <tr>
            <td>
                <span>Name:</span>
                <input name = "name" type="text" th:field="*{name}" th:errorclass="error-input"/>
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error-message"></span>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="登録"/>
            </td>
        </tr>
    </table>
</form>

</body>
</html>